apispec-webframeworks
click
flask
flask-apispec
flask-marshmallow
flask-shell-ipython
flask-sqlalchemy
gunicorn
ipython<9
marshmallow-sqlalchemy
marshmallow<4
psycopg2-binary
pyyaml
sqlalchemy-utc
sqlalchemy<2
werkzeug
